body			{background-image: url("https://img.freepik.com/free-vector/light-pink-heart-pattern_53876-67660.jpg");
				display: flex;
				align-items: center;
				justify-content: center;
				margin: 0;
				font-family: 'Arial', sans-serif;
				flex-direction: column;}


.container		{text-align: center;}


h2				{font-size: 3em;
				color: #ff5b5b;}


.gif_container 	{max-width: 100%;
				height: auto;
				margin-top: 20px}


.buttons		{margin-top: 20px;}

.yes_button		{border: none;
				border-radius: 7px;
				font-size: 1.5em;
				margin-right: 10px;
				padding: 10px 20px;
				background-color: #56ff65;
				color: #ffffff;
				cursor: pointer;}

.no_button		{border: none;
				border-radius: 7px;
				font-size: 1.5em;
				margin-right: 10px;
				padding: 10px 20px;
				background-color: #ff5656;
				color: #ffffff;
				cursor: pointer;}




